.dashboard-container{
    padding: 0%;
    height: 100vh;
    overflow-x: hidden;
}
.sidebar{
    height: 100vh; /* Full-height: remove this if you want "auto" height */
    max-width: 100%;
    /* width: 230px; Set the width of the sidebar */
    /* position: fixed; */
    /* margin:25px ; */
    border-right: 0.1rem lightgray solid;
    position: sticky;

}
.sidebar-col{
    width: 15%;
    padding-left: 2%;
    min-width: 280px
}

.topbar-col{
    /* width: 85%; */
    min-width: 30%;
}

.topbar-full-view{
    /* margin-left: 225px; */
    /* border-left: 0.1rem grey solid; */
    background-color: white;
    margin-top: 3%;
    /* margin-left: 20px; */
}

#welcome-text{
    margin-left: 50px;
}

#welcome-text a{
    color: #FF4F4F;
    text-decoration: none;
}


#swipe-button, #swipe-button-mobile {
    background-color: #FF4F4F;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    color: white;
    border: solid 0px white;
    margin-right: 50px;
}

.inside-sidebar img{
    margin: 30px;
}

.inside-sidebar h1{
    margin: 10px;
    padding-bottom: 30px;
}
.sidebar-links{
    /* justify-content: space-between; */
    margin: 15px;
}

.logout-container{
    height: 100%;
    margin-top: 90%;
}

#logout{
    color: gray;
    font-size: .9rem;
    /* margin-left: 35%; */
}

#logout a{
    /* margin-bottom: 80px; */
    color: gray;
    font-size: .9rem;
    display: flex;
}

#logout a:hover{
    text-decoration: none;
    color: #FF4F4F;
}

.sidebar-links a{
    color: black;
    text-decoration: none;
}
.sidebar-links a:hover{
    padding-top: 3px;
    text-decoration: underline;
    text-decoration-color: #FF4F4F;
    text-decoration-thickness: 4px;
}
.topbar-mobile-view{
 display:none;
}

#swipe-link{
    color: #FF4F4F;
    text-decoration: none;
}

.swipe-button-mobile button{
    display: none;
}

@media (max-width: 800px){
    .topbar-full-view{
        display:none;
    }

    .topbar-mobile-view{
     display: contents;
    }

    .topbar{
        width: 100%;
        margin: 5px;
    }

    .sidebar{
        display: none;
    }

    .sidebar-col{
        display: none;
    }
    #canvas-body{
        max-height: 100%;
        width: 70%;
    }
    
    .topbar-col{
        width: 100%;
        margin-left: 20px;
    }

    #home-icon{
        margin-left: 20px;
    }

    #home-icon a {
        text-decoration: none;
        color: #FF4F4F;
    }

    #home-icon img{
        margin-right: 20px;
    }

    #mobile-toggle{
        margin-right: 60px;
    }

    #canvas-links{
        margin-top: 80px;
    }

    #canvas-links p a{
        color: black;
        text-decoration: none;
    }

    #canvas-links p a:hover{
        color: #FF4F4F;
    }

    #canvas-links #logout-mobile {
        color: #FF4F4F;
    }

    #mobile-toggle {
        margin-right: 20px;
    }

    #start-swiping {
        margin-top: 6rem;
    }

    .swipe-button-mobile button{
        display: block;
    }

    #swipe-button {
        margin-right: 0px;
    }
    
}